html {
    height: 100%;
}

body {
    background: #282831;
    display: grid;
    place-content: center;
    justify-items: center;
    min-height: 100%;
    margin: 0;
}

canvas {
    width: 800px;
    height: 130px;
    margin: 2rem auto;
}
